*
{
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color:transparent;  
    
}
body{ background-color:rgb(0, 76, 227); align-items: center; justify-content: center;}
main
{
    /* position: relative;
    top:7px; */
    /* background-color: rgb(219, 219, 219);  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}
.Bloque1, .Bloque2, .bloque-carrusel, section, .contenedor-footer{max-width: 1500px;}
/* Navegación */
nav { 
    width:100%;
    position: fixed;
    z-index: 100;
    height: 80px;
    padding: 10px;
    /* background-color:rgba(255, 255, 255, 0.342);  */
    /* background-color:rgba(49, 49, 49, 0.192); */
    background-color: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(15px); 
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); */
    gap: 5px;
    align-items: center; 
    justify-items: center; 
    place-content: center;
    box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.contenedor-logo {
    width: 75px;
    height:  75px;
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.76); */
    border-radius: 50%;
    padding: 4px; 
    
}

.logo {
    width:5rem;
    height: 100%;
    object-fit: contain;
    background-color:transparent; 
    justify-self: center;
}
.colegio {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(5, 4, 82);
    text-align: center;
    /* background-color:maroon;  */
    text-align: center;
    justify-content: center;
}
.colegio>h5{ font-size: clamp(0.5rem, 1vw, 0.7rem);}
.nombre-col
{
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: rgb(0, 76, 227);
    /* background-color:transparent;  */
    /* background-color:red;  */
}
.contenedor-menu
{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    /* background-color: #03001b; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.boton-menu
{ 
    display: none;
    font-size:x-large;
    text-align: center;
    z-index: 101;
}

.espacio-menu
{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.menu {   
    display: flex;
    background-color:transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-items {
    list-style: none;
    margin: 10px;
    padding: 5px;
    background-color:transparent; 
}

.items {
    text-decoration: none;
    position: relative;
    color:rgb(0, 76, 227);
    transition: color 0.5s ease-in-out;
    background-color:transparent; 
    padding: 5px;
}

.menu .menu-items .items:hover {
    /* color: rgb(251, 255, 10); */
    
    border-bottom: 10px;
}

/* Línea debajo del menú */
.menu .menu-items .items::after {
    content: "";
    left: 0;
    bottom: -10px;
    height: 6px;
    width: 100%;
    position: absolute;
    background-color: rgb(251, 255, 10);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.7s ease-in-out, background-color 0.7s;
}

.menu .menu-items .items:hover::after {
    transform: scaleX(1);
    background-color: rgb(251, 255, 10);
}
.bt-aulavirtual
{
    padding: 6px;
    border-radius: 10px;
    background-color:rgb(2, 90, 253); 
    color:white;
    border-style: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.514);
    transition: background-color .7s ease-in-out;
}
.bt-aulavirtual:hover
{
    color:rgb(0, 76, 227);
    background-color:rgb(251, 255, 10); 
}

/* Contenedor después del menú */
.Bloquevid {   
    top: 0px; 
    position: relative;
    background-color: hwb(220 0% 11%);
    height: auto;
    width: 100%; 
   
}
.educamos {
    position: absolute;
    top: 45%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1;
    width:  70%;
    /* background-color: red; */
}

.botoncupo {
    height: 35px;
    width: 100px;
    font-size: large;
    background-color: rgb(0, 76, 227);
    color: white;
    border-style: none;
    border-radius: 7px;
    transition: background-color 1s ease-in-out, box-shadow 0.7s ease-in-out, color 0.7s ease-in-out; 
}

.botoncupo:hover {
    color: #000000;
    background-color: rgb(251, 255, 10);
    box-shadow: 0 0 20px rgba(251, 255, 10, 0.8), 0 0 40px rgba(251, 255, 10, 0.6); 
    cursor: pointer;
}

.texvid {
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    background-color: #004be25e;
    padding: 7px;
    border-radius: 10px;
}

.parrafovid 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.vid {
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
    filter: brightness(20%);
    z-index: 0;
}



/* carrusel */
.bloque-carrusel
{margin: 94px 0px 0px 0px; padding: 50px; height: auto;  width: 100%;  }
.bloque-carrusel img 
{ 
    border-radius: 20px;
    width: 100%;
    object-fit:contain;
}

/* codigo bloque 1 */
 .Bloque1 {  
    /* margin: 94px 0px 0px 0px;  */
    background-color: hwb(220 0% 11%);
    height: auto;
    width: 100%;    
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: center;
}
.Bloque1:hover{transition: all 1s ease; }
.contendedor-ilustracion
{
    padding: 20px; 
    height: 100%; 
    width: 1fr;
    /* background-color: red;  */
    grid-area: 2/1/4/3;
    
}

.ilustracion
{
    object-fit: cover; 
    width: 100%;
    border-radius: 20px;
    height: 100%;
    box-shadow: -10px 10px 20px 5px rgb(6, 5, 53);
    border: 4px solid rgba(255, 255, 255, 0.171);
}

.contenedor-cartillas
{
    padding: 20px;
    grid-area: 2 / 3 / 3 / 5;
    width: 1fr;
    height: 100%;
    /* background-color: #000000;  */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center; 
    align-items: center; 
    
}
.cartillas
{    
    /* background-color: #e4e5e7;  */
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 5px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease; 
}

.cartillas:hover
{
    /* border: 1px solid white;  */
    background-color:rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    transition: all 1s ease;
    transform: scale(1.05); 
    /* background-color: transparent; */
    /*background: linear-gradient( rgba(255, 255, 255, 0) 70% , rgb(255, 255, 255)100%);  */
}

.cartillas:hover .titulo-cartillas {color:   rgb(16, 96, 255);} 
.cartillas:hover .parrafo-cartillas { color: rgb(38, 38, 44);}
.titulo-cartillas
{
    margin: 0;
    color: rgba(251, 255, 10,1); 
    font-weight:bold;
    font-size:x-large;
   
}
.parrafo-cartillas
{
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
/* .imagen-cartillas
{
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    object-fit:contain;
}  */





/* codigo bloque 2 */
.Bloque2 {  
    border-radius: 20px;
    background-color: rgb(0, 20, 59);    
    height: auto;
    width: 100%; 
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.titulo-bachillerato
{
    font-size:4vw;
    color: #ececec ;
    grid-column: 1 / -1
}
.contenedor-cartillas-bach
{
    height: 100%;
    width: 100%;
    padding: 10px;
    /* background-color: #000000;  */
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    place-content: center;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}

/* .informatica:hover
{
    background-color:#0043fa;
}
.electricidad:hover
{
   background-color:  #FFD700;

}
.ebanisteria:hover
{
   background-color: #c4a679;

}
.mecanica:hover
{
   background-color: #6E6E6E;

} */
.cartillas-bach
{
    
    /* background: linear-gradient( rgba(0, 20, 59,1) 0%, rgba(16, 96, 255,1)80%);  */ 
    /* border: 1px solid  rgba(16, 96, 255,1); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: white;
    backdrop-filter: blur(20px); 
    width:100%;
    height: 100%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    border: 1px solid  rgb(255, 255, 255);
    align-items:center;
    justify-content:baseline;
    /* justify-content: space-between; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); 
    transition: all 1s ease; 
    padding-bottom: 15px;
}  

.cartillas-bach:hover
{
    transition: all 1s ease;
    transform: scale(1.04); 
    color:rgba(16, 96, 255,1) ;
    box-shadow: 0px 0px 9px 2px rgb(16, 96, 255,1);
    z-index: 1;
}

.titulo-cartillas-bach
{
    /* background-color: red; */
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
    /* flex: 1; */
    color:rgb(0, 85, 255);
}
.cartillas-bach:hover .titulo-cartillas-bach
{
    
    color: rgb(251, 255, 10); 
    transition: all 1s ease;
} 
.parrafo-cartillas-bach
{
    /* background-color: red;  */
    margin: 0;
    width: 100%;
    padding: 10px;
    text-align: justify;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.conte-img
{
    height: 200px;
    width: 100%;
    /* background-color: red; */
    border-top-right-radius: 10px;
    border-top-Left-radius: 10px;
    
}
.imagen-bach
{
    object-fit:cover;
   /*  background-color:yellow;  */
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-Left-radius: 10px;
    box-sizing: border-box;
} 

/* formulario */
section
{
    width: 100%; 
    height: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    /* background-color: #00000057; */
}
section form h4
{color:white; font-size: xx-large; text-align: center;}
section form label{color: rgb(255, 255, 255) ;}
section form textarea
{
    height: 250px;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    color:  rgb(0, 20, 59);
    background-color: white;
    width: 100%;
    resize: none;
}
.formulario
{
    width: 50%;
    height: auto;
    /* background-color: red; */
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction:column;
    gap: 5px;
    
}

.texto
{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    color:  rgb(228, 228, 228);
    background-color: rgba(0, 20, 59, 0.534);
    height: auto;
    width: 100%;
    border-bottom: 1px solid white;   
    transition: all 1s ease-in-out;
}
textarea
{
    background-color: rgba(0, 20, 59, 0.534);
    transition: all 1s ease-in-out;
    border: 1 solid white;
    
}
.texto:focus, section form textarea:focus
{
    color:  rgba(0, 20, 59);
    outline:none;
    background-color: rgba(255, 255, 255, 0.493);
}

.texto::placeholder{color: rgba(189, 189, 189, 0.285);}
.boton-enviar{width: 30%;}

/* modal ventana q se muestra */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    place-content: center;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
} 
.modal-content {
    background-color: #fefefe;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 300px;
    text-align: center;
}

/* pie de pagina footer */
footer {
    height: auto;
    width: 100%;
    background-color: #000122;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.contenedor-footer {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px; /* Usa solo gap en lugar de grid-gap */
    height: auto; /* Usa auto en lugar de 100% si es necesario */
    width: 100%;
    /* background-color: rebeccapurple; */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.contenedor-footer-logo {
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.contlogo2
{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
  
}
.logo2 {
    margin: 30px 30px 20px 30px;
    width: 100px;
    height: auto;
    object-fit: contain;
}

.contenedor-footer-contenido {
    color: white;
    display: grid;
    grid-template-columns: 2fr 10px 2fr;
    grid-template-rows: auto;
    width: auto;
    height: auto;
    border-radius: 20px;
    
    
}

.contenido {
    display: flex;
    flex-direction: column;
    height: auto;
    color: white;
    text-align: center;
    margin:5px;
    /* background-color: #383845;  */
}
.contenido h5{font-size:medium;}
.nombrecol-footer{font-size: xx-large;}
.contenedor-footer-contenido .contenido h3
{
    color:rgb(255, 237, 0);
    font-size: xx-large;
}
hr{
    
    color:white; 
    border: none; 
    height: 3px; 
    background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);  
    width: 100%; 
    border-radius: 20px;
    margin: 0px;
}
.linea-vertical
{
    color:white; 
    border: none; 
    height: 100%; 
    background:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%); 
    width: 3px; 
    border-radius: 20px;
}
.numero-tel
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.numero-tel i
{
    color:rgb(167, 170, 168); 
    font-size: 30px;
    transition: all .7s ease;
}
.numero-tel a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all .7s ease;
}

.numero-tel a:hover 
{
    color:rgb(37, 211, 102); 
    /* font-weight:bold; */
    transform: translateX(10px);
}
.numero-tel a:hover ~ i
{
    color:rgb(37, 211, 102); 
}

/* integracion de un mapa */
.contenedor-mapa
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 10px;
    padding-bottom: 20px;
}
.mapa
{
    width: 100%;
    height: 200px;
    border-radius: 30px;
}










/* clases para la funcionalidad del boton que cierra el modal */

.visiblecontenedor{color:white; position:fixed; top: 0; right: 0;background-color: rgba(0, 0, 0, 0.911);height: 100vh; bottom: 0; width: 70%; box-shadow:0 0 0 100vmax rgba(0, 0, 0, 0.5);display: flex; z-index: 101;}
.visiblemenu{display:flex;  }
.novisiblemenu{display: none; flex-direction: column;}







/* estylo para pa pagina nosotros */






/* Estilos para móviles pequeños */
@media (min-width:300px) and (max-width: 480px) 
{
    /* .menu{ display: flex; flex-direction: column;} */
    .bloque-carrusel{margin: 70px 0px 0px 0px; padding: 10px; }
    .Bloque1
    {
        gap:5px; 
        padding-top: 20px; 
        padding-bottom: 20px; 
        grid-template-rows: repeat(3, auto);
    }
    .Bloquevid{ top: 68px; }
    .colegio {gap: 5px;}
    .parrafovid{font-size: 5px;}
    .titulo-bachillerato{font-size:9vw;}
    .educamos{gap: 1px;}
    nav{place-content: center; grid-template-columns: repeat(auto-fit,minmax(10px, 1fr)); padding: 5px; height: 80px;}
    .boton-menu{display: block; width: auto;  height:auto}
    .menu{display: none;} 
    .linea-vertical{display: none;}
    .cartillas{border-radius: 20px; padding:10px;}
    .contendedor-ilustracion{ grid-area: 2 / 1 / 3 / 5;padding: 10px;}
    .cartillas-bach{height: 400px; padding: 1px;}
    .parrafo-cartillas-bach{font-size: small;}
    .contenedor-cartillas
    {
        grid-area: 3 / 1 / 4 / 5; 
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    } 
    .formulario{width: 100%;padding-left: 20px; padding-right: 20px;}
    .contenedor-footer-contenido{display: grid; grid-template-columns: 1fr;}
    
}

/* Estilos para móviles medianos */
@media (min-width: 481px) and (max-width: 767px) 
{
    .bloque-carrusel{margin: 60px 0px 0px 0px; padding: 40px; }
    .Bloque1
    { 
        gap: 5px;
        padding-top: 20px; 
        padding-bottom: 20px;
        grid-template-rows: repeat(3, auto);
    }
    .Bloquevid{ top: 70px; }
    .educamos 
    {
        gap: 0px;
    }
    nav{place-content: center; grid-template-columns: 1fr 1fr 1fr;padding: 5px;height: 80px;}
    .contenedor-menu{ justify-content: center;}
    .menu{display: none; flex-direction: column; position: relative; background-color: transparent; /*visibility: hidden;*/}
    .items{text-align: center;}
    .texvid{ font-size: 4vw; }
    .parrafovid{font-size: 10px;} 
    .boton-menu{display:block;}
    .titulo-bachillerato{font-size:8vw;}
    .contendedor-ilustracion{ grid-area: 2 / 1 / 3 / 5;}
    .contenedor-cartillas-bach{gap: 50px; width: 80%; height: 80%;}
    .cartillas{height: 90%; width: 90%;}
    .cartillas-bach{height: 100%;  }
    .parrafo-cartillas-bach{font-size:small;}
    .parrafo-cartillas{font-size: small;}
    .conte-img{height: 120px;}
    .cartillas
    {
        padding: 25px;
    }
    .contenedor-cartillas
    {
        grid-area: 3 / 1 / 4 / 5; 
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    .formulario{width: 90%;}
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .bloque-carrusel{padding: 60px; }
    .menu{display: none; position: relative; background-color: transparent; }
    nav{place-content: center; grid-template-columns: 1fr 1fr 1fr;}
    .contenedor-menu{align-items: center; justify-content: center;}
    .boton-menu{display:block;}
    .titulo-bachillerato{font-size:7vw;}
    .cartillas-bach{height:100%;}
    .parrafo-cartillas-bach{font-size: 13px;}
    .conte-img{height: 120px;}
    .contenedor-cartillas
    {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
    }
    .formulario{width: 70%;}
}

/* Estilos para pantallas de escritorio pequeñas */
@media (min-width: 1025px) and (max-width: 1100px) {
    .bloque-carrusel{padding: 80px; }
    .menu{display: none; position: relative; background-color: transparent; }
    nav{place-content: center; grid-template-columns: 1fr 1fr 1fr; }
    .contenedor-menu{align-items: center; justify-content: center;}
    .boton-menu{display:block;}
    .titulo-bachillerato{font-size:6vw;}
    .parrafo-cartillas-bach{font-size: 15px;}
    .conte-img{height: 120px;}
    .contenedor-cartillas
    {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
    .formulario{width: 70%;}
}

/* Estilos para pantallas de escritorio grandes */
@media (min-width: 1101px) and (max-width: 1900px){
    .bloque-carrusel{padding: 80px; height: auto; }
    .cartillas-bach{height:100%;}
    .menu{display: flex;}
    .formulario{width: 50%;}
   
}




/* cargar de pagina */
.loader-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color:rgb(0, 76, 227); 
    
}
.ripple {
    position: absolute;
    width: 50px;
    height: 50px;
}
.ripple::before, .ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    opacity: 0;
    animation: ripple 3s infinite;
}
.ripple::after {
    animation-delay: 1.5s;
}
@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
.ocultarScroll { overflow:hidden;} 







