.menu .items
{
    text-decoration: none;
}
.photo-gallery 
{
    
    /* background-color: rgb(209, 191, 173); */
    background-color: #e7dcd2;
    padding-top: 100px;
  
}
.text-center
{
    text-align:center;
    font-size:clamp(3rem, 5vw, 5rem);
}
.photo-gallery p 
{
    color:rgb(141, 115, 88);
    text-align: center;
}
  
.photo-gallery h2 
{
    font-weight:bold;
    margin-bottom:40px;
    padding-top:50px;
    color: rgba(16, 96, 255,1);
}
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
    }
  }
  
.photo-gallery .intro 
  {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
}
  
.photo-gallery .intro p 
{

    margin-bottom:0;
}
  
.photo-gallery .photos {
    padding-bottom:10px;
    /* background-color: #373e46; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo-gallery .item {
    padding: 0;
    height: 140px;
    width:230px;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px; 
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    transition: all .7s ease-in-out;
    
}
.photo-gallery .item:hover
{
    transform: scale(1.05);
    border: 2px solid rgb(0, 76, 227);
    box-shadow: 0px 0px 10px rgb(255, 255, 255),0px 0px 30px rgb(255, 255, 255);
}

.img-fluid
{   
    object-fit: cover;
    width: 100%;
    height:100%;
    border-radius:20px;   
    transition: all 0.7s ease-in-out;
}
  .img-fluid:hover
{
    transform: rotate(5deg) scale(1.6);
}
  






@media (min-width:300px) and (max-width: 480px) 
{
    .photo-gallery .item {
        height: 120px;
        width:180px; 
    }

}


@media (min-width: 481px) and (max-width: 767px) 
{
    .photo-gallery .item {
        height: 130px;
        width:220px; 
    }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) 
{
    .photo-gallery .item {
        height: 130px;
        width:220px; 
    }
}

/* Estilos para pantallas de escritorio pequeñas */
@media (min-width: 1025px) and (max-width: 1100px) {
    .photo-gallery .item {
        height: 130px;
        width:220px; 
    }
}

/* Estilos para pantallas de escritorio grandes */
@media (min-width: 1101px) and (max-width: 1900px){
   
    .photo-gallery .item {
        height: 130px;
        width:220px; 
    }
}


